@import "colors";
@import "fonts";

.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;
  padding: 6px 24px 6px 32px;
}

.button {
  @include fontSize(lg);

  padding: 0;
  text-align: start;
  text-decoration: underline;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: $main-white;

  &:focus,
  &:active,
  &:hover {
    outline: none;
    color: $main-light-blue;
  }

  &:link {
    text-decoration: underline;
  }
}
