// According to Figma
$main-light-blue: #2084ad;
$main-green: #64b316;
$mint-green: #cbe3a8;
$expert-green: #9eb28f;
$main-dark: #000000;
$main-dark-blue: #092a3b; // $dark-blue: #002b3e; // aeris atlas: #002b3e; navy blue from aeris brand guidelines:
$main-blue: #417792; //#004f70;
$main-yellow: #faad14; // $tag-border-yellow: #faad14;
$main-red: #d21a24; // $tag-border-red: #d21a24;
$main-black: #262626;
$main-white: #ffffff;
$grey-0: #fafafa;
$grey-1: #f6f8fa; // $light-grey: #f6f8fa;
$grey-2: #ecf0f2; // $layout-content-grey: #ecf0f2;
$grey-3: #dee6ea; // $border-grey: #dee6ea;
$grey-4: #c8d6dd; // $grey: #c8d6dd;
$grey-5: #99aab2; // $main-grey: #99aab2;
$grey-8: #556065; // $dark-grey: #556065;
$blue-1: #e8f1f6; // $table-light-blue: #e8f1f6;
$blue-2: #cee2eb;
$blue-6: #77b3cc;
$red-1: #fbe8e9; // $pale-red: #fbe8e9;
$red-2: #f6d1d3; // $pale-red-2: #f6d1d3;
$yellow-2: #fde7bb; // $tag-bg-pale-yellow: #fde7bb;
$green-2: #d2e9bc; // $tag-bg-pale-green: #d2e9bc;
$error-red: #ff4d4f; // ant design default error color;
$alert-red: #dc3545; // pulled for alert summary, guessing this came from bootstrap;
