$grid-gutter: 24px;
$border-radius-basic: 4px;
$line-height-default: 1.5715;
$padding-form-modal-label: 0 0 8px;
$max-height-table: 500px;
$height-header: 72px;
$modal-body-height: 680px;

// Antd breakpoints max-width
$ant-bp-xs: 575px;
$ant-bp-sm: 767px;
$ant-bp-md: 991px;
$ant-bp-lg: 1199px;
$ant-bp-xl: 1599px;

// Antd colors
$ant-border-blue: #3f9bba;
$ant-box-shadow-grey: #d2e6ef;
