@import 'colors';
@import 'fonts';

.container {
  position: relative;
  height: 400px;
  display: flex;
  flex-direction: column;
}

.bar,
.line {
  height: 95%;
  width: 100%;
  position: absolute;
}

.charts {
  height: 100%;
}

.smallPadding {
  padding: 12px;
}
