@import 'colors';
@import 'effects';
@import 'vars';

.container {
  background-color: $main-white;
  box-shadow: $card-box-shadow;
  padding: calc($grid-gutter/6) calc($grid-gutter/3);
}

.colorMark {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 7px;
}

.value {
  margin-left: 3px;
}
