@import 'colors';
@import 'fonts';

.secondaryLabel {
  @include fontWeight(medium);
  @include fontSize(sm);

  color: $grey-8;
  display: block;

  .hint {
    @include fontSize(xs);

    font-style: italic;
    color: $grey-5;
    margin-left: 8px;
  }
}
