@import 'fonts';

.textAreaCounterWrapper {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-end;

  :global(.ant-typography) {
    &.textAreaCounter {
      @include fontSize(xs);

      position: absolute;
      display: block;
      right: 6px;
      top: -18px;
    }

    &.textAreaCounterOutside {
      @include fontSize(xs);

      position: absolute;
      display: block;
      right: 6px;
      top: 2px;
    }
  }
}