@import 'colors';
@import 'fonts';

.rightContainer,
.leftContainer {
  height: 75%;
  display: flex;
  flex-direction: column;
}

.dividerContainer {
  display: flex;
  justify-content: center;
}

.verticalDivider {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2px;
  color: $grey-5;
  background-color: $grey-5;
  height: 75%;
}

.dividerText {
  background-color: #fff;
  padding: 12px;
  color: $main-dark-blue;
  @include fontWeight(semi-bold);

  writing-mode: vertical-rl;
  transform: rotate(270deg);
}
