.container {
  background-color: #fff;
  padding: 56px;
  border-radius: 6px;
}

.error {
  color: #fff;
  max-height: 50px;
  overflow: hidden;
}

.errorTitle {
  text-align: center;
  font-size: 20px;
}
