@import 'colors';

.scaleIn {
  animation: scaleIn 0.3s;
}

.submitPwBtn {
  margin-left: 1rem;
  background-color: $main-light-blue;
  color: white;
  border: 1px solid $main-light-blue;
  border-radius: 0.3rem;
}

.chngPwMsg {
  padding-bottom: 1rem;
  font-size: small;
  color: $main-light-blue;
}

.msgContainer {
  background-color: rgba(0, 0, 0, 0.3);
  height: 100vh;
  padding-top: 15rem;

  .changedSuccessMsg {
    width: 15rem;
    height: 7rem;
    margin: 0.5rem;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: $main-green;

    h1 {
      font-size: large;
      color: $main-green;
    }
  }
}

@keyframes scaleIn {
  0% {
    opacity: 0;
    transform: scale(0.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
