@import 'colors';
@import 'fonts';

.lightBlue {
  color: $main-light-blue;
}

@mixin buttonStyles(
  $color,
  $borderColor,
  $backgroundColor: none,
  $flexDirection: row-reverse
) {
  margin-right: 8px;
  color: $color;
  border: 1px solid $borderColor;
  background: $backgroundColor;
  display: inline-flex;
  align-items: center;
  flex-direction: $flexDirection;

  & > span {
    margin-bottom: 2px;
  }

  & > :global(.anticon) {
    vertical-align: middle;
    margin-left: 8px;
  }
}

.homeButton {
  @include buttonStyles($main-light-blue, $main-light-blue, none, row);
}
