@import 'colors';
@import 'vars';
@import 'sider-controls';

.siderButton {
  @extend %sider-interactive-level1;
  font-size: 14px;
  img {
    margin: 0px 8px 1px 1px;
  }
  :global(.anticon) {
    margin-right: 10px;
  }
}
.siderButton:disabled,
.siderButton[disabled],
.siderButton:disabled:hover,
.siderButton[disabled]:hover,
.siderNestedButton:disabled,
.siderNestedButton[disabled],
.siderNestedButton:disabled:hover,
.siderNestedButton[disabled]:hover {
  opacity: 0.5;
  cursor: not-allowed;
  background: none;
  color: $main-white;
  border: none;
}
.siderNestedButton {
  &:hover,
  &:focus {
    @extend %sider-interactive-level1--active;
  }
  @include fontSize(md);
  display: block;
  background: none;
  border: none;
  padding-left: 20px;
  width: 100%;
  text-align: left;
}
.siderNestedButton::before {
  content: '';
  display: inline-block;
  margin-right: 8px;
  width: 8px;
  height: 8px;
  -moz-border-radius: 7.5px;
  -webkit-border-radius: 7.5px;
  border-radius: 7.5px;
  background-color: $main-white;
}

.isActive {
  @extend %sider-interactive-level1--active;
}

.collapsedPopover {
  &:global(.ant-popover-placement-rightTop) {
    padding-left: 0;
    background: $main-light-blue;
    border-radius: 5px;
    margin-left: -4px;
    box-shadow: none;
  }
  :global(.ant-popover-inner-content) {
    padding: 15px;
  }
  :global(.ant-popover-arrow) {
    visibility: hidden;
  }
  :global(.ant-popover-inner-content) {
    color: #ffffff;
    font-size: 16px;
    font-weight: 100;
    display: flex;
    align-items: center;
  }
  button {
    margin-bottom: 10px;
    font-weight: 100;
    font-size: 16px;
  }
  button,
  button:hover,
  button:active,
  button:focus {
    color: $main-white;
    border: none;
  }
}
