@import 'colors';
@import 'fonts';
@import '../../ReportsPage.module.scss';

.exportButton {
  margin-bottom: 12px;
  @include buttonStyles($main-light-blue, $main-light-blue, none, row);
}

.editContainer {
  margin-left: 24px;
}

.card {
  min-height: 175px;
}

.totalAssetsPrefix {
  @include fontSize('sm');
}

.buttonAsText {
  border: none;
  padding: 0;
  background: none;
  outline: none;
  text-align: left;
  @include fontSize('md');
}
